html, body {
    height: 100%; /* Устанавливаем высоту для html и body на 100% */
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем внутренние отступы */
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(-35deg, #0CCBA0, #1D67CD);
}
header {
    background-color: #333;
    padding: 1rem; /* Используем rem для отзывчивости */
    color: white;
    display: flex; /* Используем flexbox для выравнивания */
    justify-content: flex-end; /* Выравнивание по правому краю */
    align-items: center; /* Вертикальное центрирование */
}

.header-links {
    display: flex; /* Используем flexbox для расположения ссылок в строку */
}

header a {
    color: white;
    text-decoration: none;
    margin-left: 1rem; /* Используем rem */
}
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px; /* Уменьшаем отступы внутри контейнера */
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.9); /* Полупрозрачный фон для контейнера */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Заголовок */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px; /* Отступ снизу */
}

/* Метки для ввода */
label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: bold; /* Сделаем текст меток жирным */
}

/* Поля ввода */
input {
    width: calc(100% - 20px); /* Уменьшаем ширину для отступов */
    padding: 10px; /* Общее внутреннее заполнение */
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s; /* Плавный переход при наведении */
}

/* Эффект при фокусировке */
input:focus {
    border-color: #28a745; /* Подсвечиваем рамку при фокусе */
    outline: none; /* Убираем стандартный outline */
}

/* Кнопка регистрации */
button {
    width: calc(100%); /* Уменьшаем ширину для отступов */
    padding: 10px; /* Общее внутреннее заполнение */
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Увеличиваем размер текста кнопки */
    transition: background-color 0.3s;
}

/* Эффект при наведении на кнопку */
button:hover {
    background-color: #218838; /* Тень при наведении */
}

/* Сообщение об результате */
#message {
    margin-top: 15px;
    text-align: center;
    color: #28a745;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
    .container {
        margin: 20px; /* Уменьшаем отступы по краям на мобильных устройствах */
        padding: 15px; /* Уменьшение отступов внутри контейнера */
    }

    h1 {
        font-size: 1.5em; /* Уменьшаем размер заголовка для маленьких экранов */
    }

    input, button {
        font-size: 14px; /* Уменьшаем размер текста в полях ввода и кнопке */
    }
}

@media (max-width: 480px) {
    .container {
        margin: 10px; /* Минимальное расстояние для маленьких экранов */
        padding: 10px; /* Уменьшение отступов внутри контейнера */
    }
}
